name: BaitersBrger Pipeline

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Unit Tests with Maven
        run: mvn -B test

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build application package with Maven
        run: mvn -B package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: baitersburger-jar
          path: target/*.jar

  docker-build:
    needs: [test, build]
    uses: ./.github/workflows/docker.yml
    secrets: inherit

  deploy_eks:
    needs: docker-build
    uses: ./.github/workflows/eks.yml
    secrets: inherit
    with:
      image_uri: ${{ needs.docker-build.outputs.image_uri }}